APPL1 {
    environment = "dev"
    applications = ["Application1"]
    barname = "APP1"
    version = "1.0"
    deployAsSource = "false"

    overrideFiles {
      dev = "APP1-overrides-dev.properties"
      qa = "APP1-overrides-qa.properties"
      prod = "APP1-overrides-prod.properties"
    }
    integrationNodes {
      intNode1 {
    		host = "localhost"
        port = "1414"
        intNode = "TESTNODE_iibuser"
        intServer = "default"
      }
      intNode2 {
        host = "localhost"
        port = "1414"
        intNode = "TESTNODE_iibuser"
          intServer = "hiperf"
        }
      }
  	}
APPL2 {
    environment = "qa"
    applications = ["Application2", "Application3"]
    libraries = ["Library1", "Library2"]
    projects = ["TestClient"]
    deployAsSource = "true"
    barname = "APP2"
    version = "1.1"

    overrideFiles {
      dev = "APP2-overrides-dev.properties"
      qa = "APP2-overrides-qa.properties"
      prod = "APP2-overrides-prod.properties"
    }
    integrationNodes {
      intNode1 {
    		host = "localhost"
        port = "1414"
        intNode = "TESTNODE_iibuser"
        intServer = "default"
      }
    }
  }
